<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="style1.css">
<form action="/newbook" method="POST">
    <a href="/"><H1>Home</H1></a>
    <a href="/listbook"><H1>List Books</H1></a><br><br>
    <h2>Book title </h2><input type="text" name="bookTitle"><br>
    <h2>Book author </h2><input type="text" name="bookAuthor"><br>
    <h2>Book topic </h2><input type="text" name="bookTopic"><br>
    <h2>Book cost </h2><input type="number" name="bookCost"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>